{% extends 'base.html' %}

{% block title %}Meus anuncios - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Meus anuncios</h3>
            <br>
            <p><a href="{% url 'product_new' %}" title="Editar">Novo anuncio</a></p>

            <table class="table table_bordered">
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Perguntas em aberto</th>
                    <th colspan="2">Ação</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.status }}</td>
                        <td>
                            {{ product.questions_no_answer.count }}

                            {% if product.questions_no_answer.count > 0 %}
                            <a href="{% url 'product_question'  product.id %}" title="Responder perguntas">responder</a>
                            {% endif %}

                        </td>
                        <td><a href="{% url 'product_edit' product.id %}" title="Editar">Editar</a></td>

                        {% if product.status == 'Active' %}
                            <td><a href="{% url 'product_show' product.slug %}" title="Ver página">Ver página</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}