{% extends 'base.html' %}

{% block title %}Perguntas - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Perguntas do produto {{ product.name }}</h3>
            <br>
            <p><a href="{% url 'my_ads' %}" title="Voltar">Voltar</a></p>


            {% for question in product.productquestion_set.all %}
                <ul class="list-group">
                    <li class="list-group-item disabled">{{ question.question }}</li>

                {% if question.get_answers.count > 0 %}
                    {% for answer in question.get_answers %}
                    <li class="list-group-item">{{ answer.answer }}
                        <span class="navbar-right">  <a href="{% url 'product_answer_question_edit' product.id question.id answer.id %}" title="Editar">Editar</a> </span>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item list-group-item-danger">
                        <a href="{% url 'product_answer_question' product.id question.id %}" title="Responder">Responder</a>
                    </li>
                {% endif %}

                </ul>
            {% endfor %}


        </div>
    </section>
{% endblock %}


