{% extends 'base.html' %}

{% block title %}Perguntas - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Perguntas do produto {{ product.name }}</h3>
            <br>
            <p><a href="{% url 'my_ads' %}" title="Voltar">Voltar</a></p>


            {% for question in product.productquestion_set.all %}
                <ul class="list-group">
                    <li class="list-group-item disabled">{{ question.question }}</li>

                    {% for answer in question.get_answers %}
                    <li class="list-group-item">{{ answer.answer }}
                        <span class="navbar-right">  <a href="" title="Editar">Editar</a> </span>
                    </li>
                    {% endfor %}

                </ul>
            {% endfor %}


        </div>
    </section>
{% endblock %}


