{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Busca por produtos - Market Place{% endblock %}

{% block content %}
    <section class="section-content section-search">
        <div class="container">
            <h3>Busca por: {% if request.GET.s %}{{ request.GET.s }} {% endif %}</h3>
            <br>

            {% if products is None %}
                <p>Sem resultados para busca: {{ request.GET.s }} </p>

                <a href="{% url 'home' %}" title="Home">Voltar</a>
            {% else %}


                {% for product in products %}
                    <div class="media">
                        <div class="media-left">
                            <a href="{% url 'product_show' product.slug %}" title="{{ product.name }}">
                                <img class="media-object" src="{% static "img/01.jpg" %}" alt="{{ product.name }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{% url 'product_show' product.slug %}" title="{{ product.name }}">
                                <h4 class="media-heading">{{ product.name }}</h4>
                                <p>{{ product.short_description }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

        </div>
    </section>

{% endblock %}