{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Meus anuncios - Market Place{% endblock %}

{% block content %}
    <div class="page-market-place">

        <nav class="navbar-deep-market-place">
            <div class="container">
                <p class="col-md-10 col-md-offset-2">
                    Você também pode se interessar:
                    <a href="" title="" >teclado mecanico,</a>
                    <a href="" title="" >impressora laser,</a>
                    <a href="" title="" >pc,</a>
                    <a href="" title="" >pendrive</a>
                </p>
            </div>
        </nav>

        <nav class="navbar navbar-default navbar-vip-market-place">
            <div class="container">
                <div class="vip-market-place-container">
                    <ol class="breadcrumb">
                        <a href="{% url 'my_ads' %}" title="Voltar para a lista" >Voltar para a lista</a>
                        <span class="vip-market-place-mobile-none">|</span>
                        {% for category in product.categories.all %}
                            <li><a href="" title="">{{ category.name }}</a></li>
                        {% endfor %}
                        <li><a href="" title="">{{ product.name }}</a></li>
                    </ol>

                    <div class="navbar-right vip-navigation-market-place">
                        <p>
                        <span class="vip-market-place-mobile-none">
                            Anúncio #{{ product.id }}
                            <a href="" title="">Faça uma denúncia</a></li> |
                        </span>
                            <a href="" title="">Vender um igual</a>
                        </p>
                    </div>

                </div>
            </div>
        </nav>

        <section class="section-header-market-place">
            <div class="container">
                <header>
                    <h1>{{ product.name }}</h1>

                    <p class="header-info-market-place">
                        <i class="fa fa-tag"></i> Novo
                        <i class="fa fa-cart-plus"></i>{{ product.quantity }} quantidade
                    </p>
                </header>

                <section>
                    <!--IMAGENS-->
                    <div class="col-sm-6 section-img-market-place">

                        <div class="col-md-2 img-market-place-thumbnail">

                            <img id="thumbnailML" src="{% static "img/01.jpg" %}" data-img="{% static "img/01.jpg" %}" alt="Tela 15.6">

                            <img id="thumbnailML" src="{% static "img/02.jpg" %}" data-img="{% static "img/02.jpg" %}" alt="Tela 15.6">

                            <img id="thumbnailML" src="{% static "img/03.jpg" %}" data-img="{% static "img/03.jpg" %}" alt="Tela 15.6">

                            <img id="thumbnailML" src="{% static "img/04.jpg" %}" data-img="{% static "img/04.jpg" %}" alt="Tela 15.6">

                        </div>

                        <div class="col-md-10">
                            <img id="boxThumbnailML" src="{% static "img/01.jpg" %}" alt="Tela 15.6">
                        </div>

                    </div>


                    <!--FORM COMPRA-->
                    <div class="col-sm-6 section-header-form-market-place">

                        <form action="" method="get">
                            <fieldset>
                                <legend>Preço</legend>
                                <div class="form-market-place-price">
                                    <strong>R$ {{ product.price }}</strong>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Meios de pagamento</legend>
                                <div class="form-market-place-pay-methods">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="" title="">
                                                <img src="{% static "img/card.png" %}" alt="Cartão de credito">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="" title="">
                                                <p>
                                                    <span>12x </span>

                                                    <strong>
                                                        R$ XX<sup>XX</sup>
                                                    </strong>

                                                    com <img src="{% static "img/mercado-pago.png" %}" alt="Mercado pago">
                                                </p>

                                                <p class="creditcards">
                                                    <label data-block="methods">
                                                        <img src="{% static "img/visa.png" %}" alt="Visa">
                                                        <img src="{% static "img/master.png" %}" alt="Master">
                                                        <img src="{% static "img/boleto.png" %}" alt="Boleto">
                                                    </label>
                                                </p>
                                            </a>

                                            <a href="" title="">
                                                Mais opções
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Formas de envio</legend>

                                <div class="form-market-place-pay-methods">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="" title="">
                                                <img src="{% static "img/truck.png" %}" alt="Cartão de credito">
                                            </a>
                                        </div>
                                        <div class="media-body">

                                            <p>
                                                <span>Envios para todo o país</span> por <strong>Mercado&nbsp;Envios</strong>
                                            </p>

                                            <p>Saiba os prazos de entrega e as formas de envio.</p>

                                            <a href="" title="">
                                                Calculador de frete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="form-market-place-quantity-selection">
                                <legend>
                                    Quantidade:
                                </legend>

                                <div class="col-md-2 first-input-market-place">
                                    <div class="form-group">
                                        <input class="form-control" name="quantity" type="number" title="Quantidade de unidades" value="1" >
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info">Comprar</button>
                                    </div>
                                </div>

                                <div class="col-md-4">

                                    <a href="" title="" rel="nofollow" target="_blank">
                                        <i class="fa fa-heart"></i>
                                    </a>

                                    <a href="" title="" rel="nofollow" target="_blank">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>

                            </fieldset>

                            <div class="media">
                                <div class="media-left shield-media-left">
                                    <img src="{% static "img/shield.png" %}" alt="Compra garantida">

                                </div>
                                <div class="media-body">

                                    <p><a href="" target="_top">Compra Garantida</a> com o Mercado&nbsp;Pago</p>
                                    <p>Receba o produto que está esperando ou devolvemos o dinheiro.</p>

                                </div>
                            </div>

                        </form>
                    </div>
                </section>

            </div>
        </section>


        <!--INFORMAÇÃO DO VENDEDOR-->
        <section class="section-salesman-market-place">
            <div class="container">
                <header>
                    <h2>
                        Informação sobre o vendedor
                    </h2>

                    <p class="header-info-market-place">
                        <i class="fa fa-map-marker"></i>  {{ product.user.username }} ({{ product.user.email }})
                    </p>
                </header>

                <article class="salesman-market-place-media">
                    <div class="col-md-12">
                        <div class="col-md-2 salesman-market-place-media-left">
                            <p>
                                Reputação como vendedor
                            </p>
                        </div>
                        <div class="col-md-10 salesman-market-place-media-body">
                            <ol class="salesman-market-place-reputation">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ol>

                            <div class="col-md-12 salesman-market-place-reputation-info">
                                <div class="col-sx-12 reputation-info-title">
                                    <p>Vendedor <span>MercadoLíder Platinum</span></p>
                                </div>
                                <div class="col-sx-12 reputation-info-content">
                                    <div class="col-md-3 reputation-info-content-column">
                                        <strong>100%</strong>
                                        <span>dos seus compradores o recomendam</span>
                                    </div>
                                    <div class="col-md-3 reputation-info-content-column">
                                        <strong>3231</strong>
                                        <span>vendas concretizadas</span>
                                    </div>
                                    <div class="col-md-3 reputation-info-content-column">
                                        <p>Excelente vendedor</p>
                                        <span>É um dos melhores do site!</span>
                                    </div>
                                    <div class="col-md-3 reputation-info-content-column">
                                        <p>5 anos</p>
                                        <span>vendendo no Mercado Livre</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 reputation-info-content-link">
                                <a href="" title="" >Ver mais dados deste vendedor</a>
                            </div>

                        </div>
                    </div>
                </article>


                <article class="qualification-market-place-media">
                    <div class="col-md-12">
                        <div class="col-md-2 qualification-market-place-media-left">
                            <p>
                                Qualificações
                            </p>
                        </div>
                        <div class="col-md-10 qualification-market-place-media-body">
                            <p><span>77 compradores recomendam</span> este produto</p>

                            <div class="qualification-market-place-box">
                                <label>
                                    <i class="fa fa-plus-circle"></i>
                                    "Boa negociação entrega no prazo. Recomendo"
                                </label>
                                <p>
                                    <i class="nav-icon-user"></i>
                                    OLIG...
                                    <time>03 de Maio</time>
                                </p>
                            </div>

                            <div class="qualification-market-place-box">
                                <label>
                                    <i class="fa fa-plus-circle"></i>
                                    "Adipisci amet blanditiis culpa"
                                </label>
                                <p>
                                    <i class="nav-icon-user"></i>
                                    OLIG...
                                    <time>03 de Maio</time>
                                </p>
                            </div>

                            <div class="qualification-market-place-box">
                                <label>
                                    <i class="fa fa-plus-circle"></i>
                                    "Enim est fugiat laborum minus odit officia provident repellendus, temporibus velit"
                                </label>
                                <p>
                                    <i class="nav-icon-user"></i>
                                    OLIG...
                                    <time>03 de Maio</time>
                                </p>
                            </div>

                            <div class="qualification-market-place-box">
                                <label>
                                    <i class="fa fa-plus-circle"></i>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                                </label>
                                <p>
                                    <i class="nav-icon-user"></i>
                                    OLIG...
                                    <time>03 de Maio</time>
                                </p>
                            </div>

                            <div class="qualification-market-place-box">
                                <label>
                                    <i class="fa fa-plus-circle"></i>
                                    "Adipisci amet blanditiis culpa"
                                </label>
                                <p>
                                    <i class="nav-icon-user"></i>
                                    OLIG...
                                    <time>03 de Maio</time>
                                </p>
                            </div>

                        </div>
                    </div>
                </article>

            </div>
        </section>


        <!--GARANTIA-->
        <section class="section-warranty-market-place">
            <div class="container">
                <header>
                    <h2>
                        Garantia
                    </h2>

                    <p class="header-info-market-place">
                        A sua compra no Mercado Livre está sempre protegida
                    </p>
                </header>


                <article class="warranty-market-place-media">
                    <div class="col-md-12">
                        <div class="col-md-2 warranty-market-place-media-left">
                            <p>
                                Garantia de compra
                                <span>com o Mercado Pago</span>
                            </p>

                        </div>
                        <div class="col-md-10 warranty-market-place-media-body">
                            <div class="col-sx-12 col-md-12 warranty-market-place-media-content">
                                <div class="col-md-1">
                                    <img src="{% static 'img/shield.png' %}" alt="Compra garantida">
                                </div>
                                <div class="col-md-11 warranty-media-content-info">
                                    <p>Compra Garantida com Mercado Pago: <br> Receba o produto que espera ou devolvemos o seu dinheiro</p>
                                    <p><span>Se houver algum problema ou se não receber o produto exatamente como o comprou, devolveremos o dinheiro.</span></p>
                                    <a href="" title="">O que é Compra Garantida</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="warranty-salesman-market-place-media">
                    <div class="col-md-12 warranty-salesman-container">
                        <div class="col-md-2 warranty-salesman-market-place-media-left">
                            <p>
                                Garantia do vendedor
                            </p>

                        </div>
                        <div class="col-md-10 warranty-salesman-market-place-media-body">
                            <div class="col-sx-12 col-md-12 warranty-salesman-market-place-media-content">
                                <p>Garantia de 6 meses contra defeitos de fabricação.</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>


        <!--DESCRIÇÃO-->
        <section class="section-specs-market-place">
            <div class="container">
                <header>
                    <h2>
                        Descrição do anúncio
                    </h2>
                </header>

                <article class="specs-market-place-media-info">

                    <p>{{ product.description }}</p>
                </article>
            </div>
        </section>

        <!--PERGUNTAS-->
        <section class="section-questions-market-place">
            <div class="container">
                <header>
                    <h2>
                        Perguntas ao vendedor
                    </h2>
                </header>

                <section class="section-questions-market-place-content">
                    <form class="questions-form" action="{% url 'product_question' product.id %}" method="post">
                        {% csrf_token %}
                        <textarea id="question" class="form-control" name="question" placeholder="Escreva uma pergunta..." required="required"></textarea>

                        <button type="submit" class="btn btn-info">Perguntar</button>
                    </form>

                    <ul class="ml-questions-list">

                        {% for q in questions %}
                        <li>
                            <article class="ml-questions-list-question">
                                <p><i class="fa fa-comment"></i> {{ q.question }}</p>
                                </article>
                            <article class="ml-questions-list-answer">
                                {% for a in q.get_answers %}
                                    <p><i class="fa fa-comments"></i> {{ a.answer }} <span> - {{ a.user.username }}</span></p>
                                {% endfor %}
                            </article>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </section>

{% endblock %}