{% extends 'base.html' %}

{% block title %}Meus anuncios - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Perguntas do produto {{ product.name }}</h3>
            <br>
            <p><a href="{% url 'my_ads' %}" title="Editar">Voltar</a></p>

            <ul class="list-group">
                <li class="list-group-item disabled">Perguntas</li>

            {% if product.questions_no_answer %}
                {% for question in product.questions_no_answer %}
                    <li class="list-group-item">{{ question.question }}
                        <span class="navbar-right"> <a href="{% url 'product_answer_question' product.id question.id %}" title="Responder">Responder</a> </span>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">Não existe perguntas para responder para esse produto</li>
            {% endif %}
            </ul>


        </div>
    </section>
{% endblock %}