{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Busca por produtos - Market Place{% endblock %}

{% block content %}
    <section class="section-content section-search">
        <div class="container">

            <div class="col-sm-12">
                <h3>Busca por: {% if request.GET.qs %}{{ request.GET.qs }}{% else %}{{ cat_name }}{% endif %} </h3>
            </div>
            <br>

            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="disabled">
                        Categorias
                    </li>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'portal_search' %}?category={{ category.slug }}" title="{{ category.name }}">
                                {{ category.name }}</a>
                        </li>

                        {% for subcategory in category.cat_child.all|dictsort:"name"|dictsort:"order" %}
                            {% if not subcategory.hidden %}
                                <li class="subcategories">
                                    <a href="{% url 'portal_search' %}?category={{ subcategory.slug }}" title="{{ subcategory.name }}">
                                        {{ subcategory.name }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>

            </div>


            <div class="col-sm-9">
                {% if results.hits %}

                    {% for product in results.hits %}
                        <div class="media">
                            <div class="media-left">
                                <a href="{% url 'product_show' product.slug %}" title="{{ product.name }}">
                                    <img class="media-object" src="{% static "img/01.jpg" %}" alt="{{ product.name }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="{% url 'product_show' product.slug %}" title="{{ product.name }}">
                                    <h4 class="media-heading">{{ product.name }}</h4>
                                    <p>{{ product.short_description }}</p>
                                </a>

                                <div class="navbar-right">
                                    <p>R$ {{ product.price|floatformat:2 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% elif request.GET.category %}
                    {% for product in results %}
                        <div class="media">
                            <div class="media-left">
                                <a href="{% url 'product_show' product.slug %}" title="{{ product.name }}">
                                    <img class="media-object" src="{% static "img/01.jpg" %}" alt="{{ product.name }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="{% url 'product_show' product.slug %}" title="{{ product.name }}">
                                    <h4 class="media-heading">{{ product.name }}</h4>
                                    <p>{{ product.short_description }}</p>
                                </a>

                                <div class="navbar-right">
                                    <p>R$ {{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <p>Sem resultados para busca: {{ request.GET.s }} </p>

                    <a href="{% url 'home' %}" title="Home">Voltar</a>
                {% endif %}
            </div>


        </div>
    </section>

{% endblock %}