{% extends 'base.html' %}

{% block title %}Meus anuncios - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Editando: {{ product.name }}</h3>
            <br>


            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">

                        <span class="text-danger">{{ form.name.errors }}</span>

                        <div class="form-group">
                            <label for="">{{ form.name.label }}</label>
                            <input type="text" class="form-control" name="name" value="{{ product.name }}" required="required">
                        </div>
                    </div>

                    <div class="col-md-3">

                        <span class="text-danger">{{ form.quantity.errors }}</span>

                        <div class="form-group">
                            <label for="">{{ form.quantity.label }}</label>
                            <input type="number" class="form-control" name="quantity" value="{{ product.quantity }}" required="required">
                        </div>
                    </div>

                    <div class="col-md-3">

                        <span class="text-danger">{{ form.price.errors }}</span>

                        <div class="form-group">
                            <label for="">{{ form.price.label }}</label>
                            <input type="text" class="form-control" name="price" value="{{ product.price }}" required="required">
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12">

                        <span class="text-danger">{{ form.short_description.errors }}</span>

                        <div class="form-group">
                            <label for="">{{ form.short_description.label }}</label>
                            <input type="text" class="form-control" name="short_description" value="{{ product.short_description }}" required="required">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <span class="text-danger">{{ form.description.errors }}</span>

                        <div class="form-group">
                            <label for="">{{ form.description.label }}</label>
                            <textarea class="form-control" rows="10" name="description" required="required">{{ product.description }}</textarea>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{ form.categories.label }}</label>
                            {{ form.categories }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{ form.status.label }}</label>
                            <select name="status" class="form-control">
                                <option value="{{ product.status }}">{{ product.status }}</option>
                                {% if product.status == 'Active' %}
                                    <option value="Inactive">Inactive</option>
                                {% else %}
                                    <option value="Active">Active</option>
                                {% endif %}
                            </select>

                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-info">Editar</button>
            </form>
        </div>
    </section>

{% endblock %}